/* navbar */
.ml-auto {
  margin-left: auto;
}
/* nav link */
.nav-link .user {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
}

/* catagories items */
.catagories-items span {
  color: gray;
  font-size: 20px;
}
.catagories-items span:hover {
  color: #0d6efd;
}

div#news-catagories div {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  font-weight: bold;
}
div#news-catagories div:hover {
  font-weight: bold;
}

/* news area  styling */
.author .user img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 100%;
}
